<h1 class="aabijo pt-5 mb-4">嗚呼、美女</h1>
<div class="intro">
    <p class="introduction mt-5">1日1回美女からのメッセージで、</p>
    <p class="introduction mt-2 mb-5">今日という1日をやり切りましょう</p>
</div>

<div class="start">
    <button class="start-btn button mt-5 " type="button" onclick="location.href='/login'">今日をやりきる</button>
</div>

<a href="https://twitter.com/game8fun">
    <span class="fab fa-twitter"></span>
</a>