
<h1>美女リスト</h1>

<%# 画像表示 %>
<div class="photo-container">
<img src="images/吉岡里帆.jpg">
</div>

<%# 美女の名前表示 %>
<p class="bijo-name mt-2 mb-2">吉岡里帆</p>

<%# 画像表示 %>
<div class="photo-container">
<img src="images/小芝風花.jpg">
</div>

<%# 美女の名前表示 %>
<p class="bijo-name mt-2 mb-2">小芝風花</p>

<%# 画像表示 %>
<div class="photo-container">
<img src="images/吉岡里帆.jpg">
</div>

<%# 美女の名前表示 %>
<p class="bijo-name mt-2 mb-2">吉岡里帆</p>

<%# 画像表示 %>
<div class="photo-container">
<img src="images/吉岡里帆.jpg">
</div>

<%# 美女の名前表示 %>
<p class="bijo-name mt-2 mb-2">吉岡里帆</p>


