
<h1>美女リスト</h1>

<div class="row">
    <div class="pics-list col-lg-4">
        <div class="photo-container  mt-5">
            <div class="pic">
                <%# 画像表示 %>
                <img src="images/吉岡里帆.jpg">
                <%# 美女の名前表示 %>
                <p class="bijo-name mt-2 mb-2">吉岡里帆</p>
            </div>
            <div class="pic">
                <%# 画像表示 %>
                <img src="images/小芝風花.jpg">
                <%# 美女の名前表示 %>
                <p class="bijo-name mt-2 mb-2">小芝風花</p>
            </div>
            <div class="pic">
                <%# 画像表示 %>
                <img src="images/飯豊まりえ.jpg">
                <%# 美女の名前表示 %>
                <p class="bijo-name mt-2 mb-2">飯豊まりえ</p>
            </div>
            <div class="pic">
                <%# 画像表示 %>
                <img src="images/ロンモンロウ.jpg">
                <%# 美女の名前表示 %>
                <p class="bijo-name mt-2 mb-2">ロンモンロウ</p>
            </div>
        </div>
    </div>
</div>

