<h1 class="login">ログインしましょう</h1>

<form action="/login" method="post">
    <div>
        <ul style="list-style:none">
            <li>
                <label for="name">名前:</label>
                <input type="text" name="name">
            </li>
            <li>
                <label for="email">mail:</label>
                <input type="text" name="email">
            </li>
            <li>
                <label for="name">パスワード:</label>
                <input type="password" name="password">
            </li>
        </ul>
    </div>

    <input type="submit" value="ログイン" class="btn btn-danger">
    <a href="/signup" class="btn btn-primary">新規登録</a>
</form>
