<h1 class="welcome mb-5">ようこそ <%= @name %> さん</h1>
<h2>今日は誰かな？？</h2>

<div>
    <button class="bijo-btn" type="button" onclick="location.href='/result'">❤</button>
</div>

    <p class="mb-5">お言葉を頂く?</p>

    <div>
        <button class="button list-btn" type="button" onclick="location.href='/list'">登場美女</button>
    </div>
    <div>
        <button class="back-btn button mr-2" type="button" onclick="history.back('/result')">戻る</button>
        <button class="add-mybijo-btn mt-4 button" type="button" onclick="location.href='/mybijo'">マイ美女へ</button>
    </div>

    <button class="button logout mt-3" type="button" onclick="location.href='/logout'">ログアウト</button>
