<h1>結果です</h1>


<%# 画像表示 %>
<img src="images/<%= @random_image%>">

<%# 美女の名前表示 %>
<p><%= @random_image%></p>

<%# 美女からのお言葉表示 %>
<p><%= @random_text%></p>


<%# <img src ="images/mylogo1.jpg">
<img src ="images/myface2.jpg"> %>
