<h1 class="result-bijo pt-4 pb-4">今日の美女</h1>


<%# 画像表示 %>
<div class="photo-container">
<img src="images/<%= @random_image%>">
</div>

<%# 美女の名前表示 %>
<p class="bijo-name mt-2 mb-2"><%= @random_image_removejpg%></p>

<%# 美女からのお言葉表示 %>
<p class="random-text mt-4 mb-4">「<%= @random_text%>」</p>

<button class="onemore-btn mt-4 mr-3 button" type="button" onclick="location.href='/result '">泣きの一回</button>
<button class="go-btn mt-4 mr-3 button" type="button" onclick="location.href='/logout'">いってらっしゃい</button>
<button class="add-mybijo-btn mt-4 button" type="button" onclick="location.href='/mybijo'">マイ美女に追加</button>




<%# <img src ="images/mylogo1.jpg">
<img src ="images/myface2.jpg"> %>
