<h1 class="result-bijo pt-4 pb-4">今日の美女</h1>


<%# 画像表示 %>
<div class="photo-container">
<img src="images/<%= @random_image%>">
</div>

<%# 美女の名前表示 %>
<p><%= @random_image_removejpg%></p>

<%# 美女からのお言葉表示 %>
<p><%= @random_text%></p>

<button class="onemore-btn mr-2 button" type="button" onclick="location.href='/result'">泣きの一回</button>
<button class="go-btn mr-2 button" type="button" onclick="location.href='/bye'">いってらっしゃい</button>
<button class="add-mybijo-btn btn-info button" type="button" onclick="location.href='/mybijo'">マイ美女に追加</button>




<%# <img src ="images/mylogo1.jpg">
<img src ="images/myface2.jpg"> %>
