* {
  font-family: "Noto Sans JP";
}

body {
  background-color:wheat;
}

.container {
  background-color: rgb(255, 240, 213);
  text-align: center;
  width: 100%;
  height: 900px;
  border-radius: 35px;
  margin-top: 30px;
  /* box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.3); */
  transition: 0.5s;
}

h1 {
  color: black;
  font-size: 80px;
  font-weight: bold;
  padding-top: 100px;
}

p {
  font-size: 30px;
  margin: 0;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
.aabijo {
  color: #d519d5;
  padding-top: 120px;
}
.intro {
    padding-top: 50px;
}
.start {
  font-family: "ヒラギノ角ゴ ProN";
}

.button {
  border: none;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border-radius: 5px;
}
.button:hover {
  transition: all 0.5s;
  box-shadow: 15px 15px 30px -5px rgba(0, 0, 0, 0.15),
    6px 6px 10px -2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

/*--------------------- 最初の画面 ---------------------*/

.start-btn {
  background-color: black;
  width: 220px;
  height: 60px;
  padding: 10px 5px;
  margin: 30px auto 0px ;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.start-btn:hover {
  color: black;
  background-color: white;
}

/*------------------ login ------------------*/

.login {
  font-size: 80px;
  color: black;
  padding-top: 40px;
}
.login-btn {
  background-color: #90cafc;
  color: white;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}
.login-btn:hover {
  background-color: white;
  color: #90cafc;
}
.signup-btn {
  background-color: #e83450;
  color: white;
  width: 150px;
  height: 50px;
}

.signup-btn:hover {
  background-color: white;
  color: #e83450;
}

/*------------------ main ------------------*/
.welcome {
  font-size: 40px;
}
/*------------------ 今日の美女ボタン ------------------*/
.bijo-btn {
  width: 200px;
  height: 200px;
  font-size: 50px;
  color: white;
  background-color: #ff6ac6;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  margin: 30px auto;
  /* box-shadow: 1px 1px 10px gray; */
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  display: block;
}
.bijo-btn:hover {
  color: #ff6ac6;
  background-color: white;
  transition: all 0.5s;
  box-shadow: 15px 15px 30px -5px rgba(0, 0, 0, 0.15),
    6px 6px 10px -2px rgba(0, 0, 0, 0.1);
}
.back-btn {
  color: white;
  background-color: black;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}
.back-btn:hover {
  color: black;
  background-color: white;
}
.logout {
  color: white;
  background-color: #e83450;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}
.logout:hover {
  color: #e83450;
  background-color: white;
}
/* .photo-container {
    width: 500px;
    height: 400px;
} */

/********************* result画面 ***************************/

.result-bijo {
  color: black;
}
.random-text {
    font-size: 40px;
    font-weight: bold;
}
.onemore-btn {
  color: white;
  background-color: #e83450;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}
.onemore-btn:hover {
  color: #e83450;
  background-color: white;
}
.go-btn {
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}
.go-btn:hover {
  color: #007bff;
  background-color: white;
}
.add-mybijo-btn {
  color: white;
  background-color: #17a2b8;
  padding: 5px 10px;
  width: 150px;
  height: 50px;
}
.add-mybijo-btn:hover {
  color: #17a2b8;
  background-color: white;
}


/*----------------- result -----------------*/
/*----------------- 美女の写真----------------- */
img {
  /* width: 400px;
    height: auto; */
  width: auto;
  height: 400px;
  border-radius: 10px;
}

.bye-bijo {
    margin-bottom: 150px;
}

.share-btn {
    color: white;
    background-color: #1DA1F2;
    padding: 5px 10px;
    width: 150px;
    height: 50px;
  }
  .share-btn:hover {
    color:  #1DA1F2;
    background-color: white;
    text-decoration: none;
  }

/*----------------- bye -----------------*/

.bye { 
    font-size: 40px;
    margin-bottom: 100px;
}
.back-home {
}